//#region bootstrap variables
$enable-responsive-font-sizes: true;
$enable-transitions: true;
$enable-shadows: false;
$enable-rounded: false;
$enable-caret: false;
$breadcrumb-divider: quote('>');

$text-color: #0068c1;
$body-bg: #ffffff;
$font-family-sans-serif: 'Nunito', Helvetica, Arial, sans-serif;
$font-family-serif: 'Nunito', serif;
$light: #f7f8f7;
$primary: #0081c8;
$secondary: #f9dd00;
$danger: #ed2024;
$link-color: #0068c1;
$info: #122e60;
//#endregion
