//#region custom fonts
/* @font-face {
    font-family: "My-Font";
    src: url("./../fonts/My-Font.woff") format("woff"),
      url("./../fonts/My-Font.eot"),
      url("./../fonts/My-Font.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
} */
//#endregion
//#region limits (max-width)
$i: 0;
@while $i <= 2000 {
  $i: $i + 50;
  .is-limited-#{$i} {
    max-width: #{$i}px;
  }
}
//#endregion

//#region bootstrap variables
$container-max-widths: (
  xl: 1400px,
);

$enable-transitions: true;
$enable-shadows: false;
$enable-rounded: true;
$enable-caret: false;
$enable-negative-margins: true;
$breadcrumb-divider: quote(">");

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
$grid-gutter-width: 3rem;
$gutters: (
  0: 0,
  1: $grid-gutter-width * 0.25,
  2: $grid-gutter-width * 0.5,
  3: $grid-gutter-width,
  4: $grid-gutter-width * 1.5,
  5: $grid-gutter-width * 3,
);

$font-family-base: "Montserrat", Helvetica, Arial, sans-serif;
$font-family-serif: "Anybody", serif;
$text-color: #2a2b27; //
$body-bg: #ffffff;
$body-color: $text-color;
$link-color: $text-color;
$border-color: #eeeeee;

$primary: #b8e600; //
$secondary: #2a2b27; //
$success: #00b772;
$info: #d2d2d2;
$warning: #e6c60b; //
$danger: #e50019;
$light: #f5f5f5;
$dark: #606060;
//#endregion

//#region slick variables
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
//#endregions

//#region hamburgers variables
$hamburger-padding-x: 0px;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $secondary;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
//#endregion
