//#region limits (max-width)
$i: 0;
@while $i <= 2000 {
    $i: $i + 50;
    .is-limited-#{$i} {
        max-width: #{$i}px;
    }
}
//#endregion

//#region bootstrap variables
$container-max-widths: (
    xl: 1400px,
);
$grid-gutter-width: 30px;
$enable-transitions: false;
$enable-shadows: false;
$enable-rounded: false;
$enable-caret: false;
$breadcrumb-divider: quote(">");

$font-family-base: "Nunito", Helvetica, Arial, sans-serif;
$font-family-serif: "Nunito", serif;
$text-color: #000f2d;
$body-bg: #ffffff;
$body-color: $text-color;
$link-color: $text-color;
$border-color: #eeeeee;

$primary: #00bddf;
$secondary: #00b772;
$success: #00b772;
$info: #d2d2d2;
$warning: #e56700;
$danger: #e50019;
$light: #f5f5f5;
$dark: #606060;
//#endregion

//#region slick variables
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
//#endregions

//#region hamburgers variables
$hamburger-padding-x: 0px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $primary;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
//#endregion
