// Importazione del file parziale _variables.scss
@import "variables";
// Importazione del file SCSS di Bootstrap
@import "~bootstrap/scss/bootstrap";

//#region misc
* {
    outline: none !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
    color: $secondary !important;
}
::selection {
    background: $secondary;
    color: $white;
}
*::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-track {
    background: $light;
    border: $white;
}
*::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
    background: $primary;
}
//#endregion
