// Importazione del file parziale _variables.scss
@import "variables";
// Importazione del file SCSS di Bootstrap
@import "~bootstrap/scss/bootstrap";
// Importazione del file per i carousel Slick
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

//#region misc
* {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
}
a.text-secondary:hover,
a.text-secondary:focus {
    color: $secondary !important;
}
::selection {
    background: $secondary;
    color: $white;
}
*::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-track {
    background: $light;
    border: $white;
}
*::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
    background: $primary;
}
//#endregion
