// Importazione del file parziale _variables.scss
@import "variables";

// Importazione dei file SCSS di Bootstrap con utilizzo delle sue Utilities API
@import "~bootstrap/scss/vendor/rfs";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "bs-colors";
@import "~bootstrap/scss/utilities";
@import "bs-utilities";
@import "~bootstrap/scss/bootstrap";

// Importazione del file per i carousel Slick
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

// Importazione del file per animazione menu hambuger
@import "~hamburgers/_sass/hamburgers/hamburgers";

//#region misc
* {
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  &:focus {
    box-shadow: none !important;
  }
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: $secondary !important;
}
::selection {
  background: $secondary;
  color: $white;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: $light;
  border: $white;
}
*::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
//#endregion

//#region stickybar
.stickybar {
  background-color: $white;
  z-index: 9999;
  transition: all 300ms linear;
  &.stickybar--sticked {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }
}
//#endregion
